<nav class="nav__container">
    <div class="nav">
        <img src="/img/pigeon.png" alt="" class="nav__logo">
        <ul class="nav__list">
            <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="/about" class="nav__link">About</a></li>
            <li class="nav__item"><a href="/projects" class="nav__link">Projects</a></li>
            <li class="nav__item"><a href="/design" class="nav__link">Design</a></li>
            <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>
        </ul>

    </div>

    <div class="nav__hamburger">
        <div class="nav__hamburger-line nav__hamburger-line-1"></div>
        <div class="nav__hamburger-line nav__hamburger-line-2"></div>
        <div class="nav__hamburger-line nav__hamburger-line-3"></div>
    </div>

    <div class="nav__hamburger-container">
    </div>
</nav>