<nav class="nav__container">

    <% const navItems=[ { name: 'Home' , url: '/' }, { name: 'About' , url: '/about' }, { name: 'Projects'
        ,url: '/projects' }, { name: 'Contact' , url: '/contact' } ] %>


        <div class="nav">
            <img src="/img/pigeon.png" alt="" class="nav__logo">
            <ul class="nav__list">
                <% navItems.map((item)=>{ %>
                    <% if(currentUrl===item.url){ %>
                        <li class="nav__item"><a href=<%=item.url %> class="nav__link nav__link-active"><%= item.name %>
                                    </a></li>
                        <% } else {%>
                            <li class="nav__item"><a href=<%=item.url %> class="nav__link"><%= item.name %></a></li>
                            <% } %>
                                <% }) %>


            </ul>

        </div>

        <div class="nav__hamburger">
            <div class="nav__hamburger-line nav__hamburger-line-1"></div>
            <div class="nav__hamburger-line nav__hamburger-line-2"></div>
            <div class="nav__hamburger-line nav__hamburger-line-3"></div>
        </div>

        <div class="nav__hamburger-container">
        </div>
</nav>