// decorations
$border-bottom: 1px solid rgba(0, 0, 0, 0.2);
$shadow-1: 0 1.5rem 4rem rgba(0, 0, 0, .2);

$shadow-normal: 0 2rem 2rem rgba(0, 0, 0, .2);
$shadow-blurred: 0 4rem 5rem rgba(0, 0, 0, .2);

//colors

$color-grey-dark-1: #adb5bd;
$color-grey-dark-2: #868e96;
$color-grey-dark-3: #495057;
$color-grey-dark-4: #343a40;
$color-grey-dark-5: #212529;

$color-grey-light-1: #f8f9fa;
$color-grey-light-2: #f1f3f5;
$color-grey-light-3: #e9ecef;
$color-grey-light-4: #dee2e6;
$color-grey-light-5: #ced4da;

$color-primary-1: #e6fcf5;
$color-primary-2: #96f2d7;
$color-primary-3: #38d9a9;
$color-primary-4: #12b886;
$color-primary-5: #099268;