<% layout('./layouts/boilerplate') -%>
    <section class="main fs">

        <div class="title__container">
            
            <h1 class="title__main"> <span class="title__main-first">Nicholas</span>
                <span class="title__main-second">hargreaves</span>
            </h1>
            <h2 class="title__sub"> Full stack developer</h2>
            <h3 class="title__description"> "I engineer cutting-edge web experiences and shape unique mobile solutions."
            </h3>


        </div>

         <img src="/img/lego.jpg" alt="building blocks" class="img-build"> 
         

    </section>
    <section class="technologies fs z-100">

        <div class="technologies__container">

            <% icons.map((icon)=> { %>
                <div class="technologies__item">
                    <%- icon.SVG %>
                        <h3>
                            <%= icon.name %>
                        </h3>
                </div>

                <% }) %>
        </div>
    </section>