<% layout('./layouts/boilerplate') -%>
    <section class="main">

        <h1 class="title__main">Nicholas hargreaves</h1>

        <img src="/img/lego.jpg" alt="building blocks" class="img-build">

        <h2 class="title__sub">Full stack developer</h2>

    </section>

    <section class="bio">
        <p class="end__front">

            Throughout my journey, I have developed a strong foundation in <span class="emphasis">CSS</span> , <span
                class="emphasis">SASS</span>, <span class="emphasis">HTML</span>, and <span
                class="emphasis">Javascript</span>, allowing me
            to create stunning and responsive websites that are optimized for both desktop and mobile devices. My
            attention to detail and commitment to staying up-to-date with the latest design trends ensures that my work
            always looks fresh and modern.

            I am a creative thinker and a problem solver. I enjoy working closely with clients to understand their
            unique needs and goals, and I take pride in delivering designs that exceed their expectations. Whether I'm
            designing a new website from scratch or updating an existing site, I always strive to create a user-friendly
            experience that engages and inspires visitors.


        </p>

        <p class="end__back">

            I am skilled in <span class="emphasis">NODE.js</span>, which enables me to build robust and scalable back-end architectures that can
            handle complex data and user interactions. My use of <span class="emphasis">express</span> and <span class="emphasis">EJS</span> allows me to create clean and elegant
            web pages that are easy to navigate and visually appealing. Additionally, my knowledge of <span class="emphasis">Mongoose</span> allows me
            to effectively integrate databases into my applications, providing a secure and reliable way to store and
            access data.

            I am dedicated to staying up-to-date with the latest web development trends and continually enhancing my
            skills through online courses and projects. I am committed to delivering high-quality work that meets my
            clients' needs and takes pride in building lasting relationships based on trust and collaboration.
        </p>
    </section>