.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    transition: all 0.8s ease-in;

    &__container {
        margin-top: 2rem;
        padding-left: 2rem;
    }

    &__logo {
        height: 0rem;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        height: 100%;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 2px;
        list-style: none;
        text-align: center;
        margin: 0 2rem;
        overflow: clip;

        @include respond(phone) {
            margin: 0;
        }

    }

    &__link:link,
    &__link:visited {
        position: relative;
        text-decoration: none;
        color: $color-grey-dark-1;
        display: block;
        transition: all .5s .5s;

        &:hover {
            color: $color-grey-dark-3;
        }
    }

    .nav__link-active {
        color: $color-grey-dark-4;
        padding-bottom: 0.5rem;
        border-bottom: 5px dashed $color-grey-dark-1;
    }

    &__hamburger {
        display: none;
    }

    @include respond(tab-port) {
        height: 100vh;
        width: 70%;
        position: relative;
        top: 0;
        left: -70%;
        flex-direction: column;
        background-color: rgba($color-grey-light-3, 0.95);
        justify-content: unset;

        &__container {
            position: sticky;
            top: 0;
            display: inline-block;
            height: 10rem;
            width: 100%;
            z-index: 1000;
            padding: 0;
            margin-top: 0;
            
        }

        &__logo {
            display: none;
            width: 4rem;
        }

        &__list {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding-top: 5rem;
        }

        &__item {
            display: flex;
            width: 100%;
            font-size: 2.4rem;
            margin: 2rem;
            justify-content: center;
        }

        &__link {
            position: absolute;
            z-index: 100000;
            color: $color-grey-dark-5;
            padding-bottom: 1rem;
            width: 50%;

        }

        &__hamburger {
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;

            width: 6rem;
            height: 6rem;
            padding: .5rem;

            border-radius: 100%;
            top: 2rem;
            right: 2rem;
            background-color: $color-grey-light-2;

            &-container {
                display: none;
                position: absolute;
                top: 0;
                width: 100vw;
                height: 100vh;
                z-index: 10;
            }

            &:hover,
            &:active {
                background-color: rgba($color-grey-light-3, 0.95);
            }

            &-line {
                position: absolute;
                display: inline-block;
                background-color: black;
                height: 0.5rem;
                width: 3rem;
                transition: all .2s;
                left: 1.4rem;
                border-radius: 2px;

                &-1 {
                    top: 1.5rem;
                }

                &-3 {
                    bottom: 1.5rem;
                }
            }
        }
    }
}