.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: $border-bottom;
    // background-color: $color-grey-dark-1;
    // box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);


    &__logo {
        height: 5rem;

    }

    &__list {
        display: flex;
        align-items: center;

    }

    &__item {
        position: relative;
        height: 100%;
        width: 9rem;
        font-size: 1.75rem;
        font-weight: 300;
        list-style: none;
        text-align: center;
        margin: 0 2rem;
        overflow: clip;

        @include respond(phone) {
            margin: 0;
        }

        &::before {
            content: "";
            background-color: $color-primary-2;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            clip-path: polygon(0 0, 62% 0, 100% 100%, 0% 100%);
            transition: all 1s cubic-bezier(.91, .01, .24, .81);
         

        }

        &:hover::before {

            content: "";
            position: absolute;
            width: 100%;
            clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);


        }

    }

    &__link:link,
    &__link:visited {

        position: relative;
        text-decoration: none;
        color: $color-grey-dark-1;
        display: block;
        padding: 1.5rem;
        transition: all .5s .5s;

        &:hover{
            color: $color-grey-dark-3;
        }

    }

}