.about {
    height: 100%;

    &__header {
        display: flex;
        padding: 10% 15% 0 15%;
        height: 100vh;
        // width: 100vw;
        justify-content: space-around;

        @include respond(tab-land) {
            padding: unset;
            height: 50vh;
            flex-direction: column-reverse;
        }
    }

    &__img {
        display: block;
        width: 100%;
        border-radius: 3px;
        margin: 0 auto;
        border: dashed 1rem $color-grey-dark-3;

        &-container {
            width: 45%;
        }

        @include respond(tab-land) {
            margin-bottom: 2rem;
            border: unset;

            &-container {
                width: 100%;
            }
        }

        @include respond(phone) {
            margin-top: unset;

        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        padding: 8rem;
        margin: 2rem;
        border-radius: 20px;
        border-bottom: unset;

        @include respond(phone) {
            padding: unset;

        }

    }

    &__item {
        display: flex;
        border: dashed 1.5rem $color-grey-dark-3;
        justify-content: center;
        padding: 4rem;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10rem;

        @include respond(tab-land) {
            width: 90%;
            display: block;
            padding: 2rem 2rem;
        }
    }



    &__paragraphs {
        text-align: right;
        width: 100%;

        @include respond(phone) {
            width: 100%;
            text-align: center;
        }
    }

    &__paragraph {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

}