.contact {
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;
    border: 1px red solid;
    border-radius: 50px;
    box-shadow: $shadow-1;
    padding: 2rem;

    @include respond(phone) {
        padding: 1rem;
        padding-bottom: 5rem;
    }


    &__body {
        display: flex;
        justify-content: space-around;
        height: 80%;
        font-size: 2.4rem;
        

        @include respond(tab-port) {
            flex-direction: column;
            justify-content: center;
        }

        @include respond(smallPhone) {
            font-size: 1.2rem ;
         }

        &-text {
            letter-spacing: 0.2px;
            line-height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 5rem;

            @include respond(tab-port) {
                width: unset;
            }


        }

        &-form {
         
            width: 50%;

            @include respond(tab-port) {
                margin: -6rem;
                width: unset;
            }

        }

        &-links{
            display: inline-block;
            margin: 2rem 0;
            text-transform: capitalize;
        }
    }

    &__footer {
        height: 20%;
        background-color: yellow;
    }
}