.contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    @include respond(phone) {}


    &__body {
        display: flex;
        justify-content: space-around;
        font-size: 2.4rem;
        margin-top: 10%;

        @include respond(tab-port) {
            flex-direction: column;
            justify-content: center;
        }

        @include respond(smallPhone) {
            font-size: 1.2rem;
        }

        &-text {
            letter-spacing: 0.2px;
            line-height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 5rem;

            @include respond(tab-port) {
                width: unset;
            }


        }

        &-links {
            display: inline-block;
            margin: 2rem 0;
            text-transform: capitalize;
        }
    }

    &__footer {
        height: 20%;
        background-color: yellow;
    }
}