.main {
    display: flex;
    justify-content: center;
    padding: 15% 15% 0 15%;
    margin-top: 5rem;
    position: fixed;
    top: 0;

    @include respond(tab-port) {
        flex-direction: column;
        justify-content: unset;
    }

    @include respond(phone) {
        padding: 2rem;
        margin-top: 0rem;
    }
}

.title {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.img-build {
    height: 25rem;
    border-radius: 37% 63% 94% 6% / 54% 53% 47% 46%;
    margin: 0 auto;


    @include respond(phone) {
        width: 37rem;
        margin-top: 1rem;
    }
}


.technologies {
    position: relative;
    margin-top: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, $color-grey-light-1 20%, $color-grey-light-2);
    ;

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;

        @include respond(phone) {
            width: 100%;
            border-radius: unset;
        }
    }

    &__item {
        margin: 4rem 2rem;
        text-align: center;
        font-size: 1.4rem;
        padding: 1rem;

        @include respond(phone) {
            margin: 1.3rem;
            font-size: 1rem;
            width: 8rem;
        }
    }

    svg {
        width: 10rem;
        margin-bottom: 1rem;

        @include respond(phone) {
            width: 6rem;
        }
    }
}