@import url('base/animations');

.main {
    display: flex;
    justify-content: center;
    padding: 4rem;
    margin-top: 5rem;

    @include respond(tab-port) {
        flex-direction: column;
    }

    @include respond(phone) {
        padding: 2rem;
        margin-top: 0rem;
    }
}

.title {

    &__links {
        display: flex;


        @include respond(phone) {
            justify-content: start;
        }

        &-link {
            font-size: 3rem;
            color: black;
            margin: 1rem;
        }
    }

    &__container{
        width: 100%;
    }
}

.img-build {
    height: 25rem;
    border-radius: 37% 63% 94% 6% / 54% 53% 47% 46%;
    margin: 0 auto;


    @include respond(phone) {
        width: 37rem;
        margin-top: 1rem;
    }
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 3rem 8rem;
    color: $color-grey-dark-3;
    line-height: 1.5;

    .end {
        &__front {
            display: inline-block;
            margin-bottom: 5rem;
            flex: 0 0 60%;
        }

        &__back {
            display: inline-block;
            flex: 0 0 60%;
            margin-left: auto;
            text-align: right;
        }
    }

    @include respond(phone) {
        padding: 4rem 4rem;
        font-size: 2rem;
        justify-content: center;
        flex-direction: column;

        .end {
            &__front {
                display: inline-block;
                margin-bottom: 5rem;
                flex: 0 0 80%;
            }

            &__back {
                display: inline-block;
                flex: 0 0 80%;
                margin-left: auto;
                text-align: right;
            }
        }
    }
}

.technologies {
    width: 100%;


    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;

        @include respond(phone) {
            width: 100%;
        }
    }


    &__item {
        margin-top: 4rem;
        margin-left: 4rem;
        text-align: center;
        font-size: 1.4rem;

        @include respond(phone) {
            margin: 1.3rem;
            font-size: 1rem;
            width: 8rem;
        }
    }

    svg {
        width: 10rem;
        margin-bottom: 1rem;

        @include respond(phone) {
            width: 6rem;
        }
    }
}