.main {
    display: flex;
    justify-content: center;
    padding: 4rem;

    @include respond(tab-port) {
        flex-direction: column;
    }
}

.img-build {
    height: 25rem;
    border-radius: 37% 63% 94% 6% / 54% 53% 47% 46%;

    @include respond(tab-port) {
        width: 37rem;
        margin-top: 1rem;
    }
}

.bio {
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 3rem;
    color: $color-grey-dark-3;
    line-height: 1.5;

    .end {
        &__front {
            display: inline-block;
            margin-bottom: 2rem;
            flex: 0 0 60%;
        }

        &__back {
            display: inline-block;
            flex: 0 0 60%;
            margin-left: auto;
            text-align: right;
        }
    }
}