.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding: 10rem 5rem 0 5rem;

    @include respond(phone) {
        margin: unset;
        padding: 1rem;
    }

    &-header {
        height: 100vh;
        position: fixed;
    }

    &-container {
        min-height: 100vh;
        z-index: 50;
        margin-top: 100vh;
        background-color: $color-grey-light-1 ;
    }

    &-title {
        color: $color-grey-dark-3;
        font-size: 4rem;
        letter-spacing: 2px;
        margin: 0 auto;

    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &-item {
        display: flex;
        flex-direction: column;
        width: 47rem;
        height: 12rem;
        border: 1rem $color-grey-dark-1 dashed;
        cursor: pointer;
        margin: 2rem;
        text-align: center;
        margin: 5rem 0;
        justify-content: center;
        margin: 2rem;

        @include respond(phone) {
            margin: 1rem unset;

            width: 100%;
        }

        &-text {
            color: $color-grey-dark-3;
            text-transform: capitalize;
            font-size: 3rem;
            letter-spacing: 2px;
            font-weight: 600;
            padding: 1rem;
        }

    }

}