.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding-top: 5rem;

    &-project{
        display: flex;
        flex-direction: column;
        @include respond(tab-port) {
            flex-direction: column-reverse;
        }
    }

    &-title {
        color: $color-grey-dark-3;
        font-size: 4rem;
        letter-spacing: 2px;
        margin: 0 auto;

    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &-item {
        display: flex;
        flex-direction: column;
        width: 47rem;
        height: 12rem;
        border: 1.5rem $color-primary-1 dashed;
        cursor: pointer;
        margin: 2rem;
        text-align: center;
        margin: 5rem 0;
        justify-content: center;

        &-text {
            color: $color-grey-dark-3;
            text-transform: capitalize;
            font-size: 3rem;
            letter-spacing: 2px;
            font-weight: 600;
        }

    }

}