

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%; // Expand width to show full text

    }
}

@keyframes cursor-blink {

    0%,
    100% {
        border-right: 1px solid black;
    }

    50% {
        border-right: none;
    }
}


@keyframes typing-fill {
    0% {
        width: 0;
    }

    100% {
        width: auto; // Set width to 'auto' once fully typed
    }
}


@keyframes cursor-hide {
    0% {
        border-right: 2px solid black; // Start hiding immediately
      }
    
      100% {
        border-right: none; // Hide cursor
      }
  }