/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: $color-grey-dark-3;
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 54.5%;
    }
}

body {
    position: absolute;
    box-sizing: border-box;
    background-color: $color-grey-light-2 ;
    height: 100vh;
    width: 100%;
    overflow: auto;

    @include respond(tab-land) {}
}