<% layout('./layouts/boilerplate') -%>

    <div class="about">

        <h2 class="about__title-main">A little about me</h2>
        <img src="/img/king.png" alt="a photo of me" class="about__img">

        <div class="about__main">
            <div class="about__text">

                <div class="about__item">
                    <h2 class="about__title">I'm Nick... </h2>
                    <p class="about__paragraph"> I embody the essence of a passionate self-taught web developer,
                        constantly
                        fueled by an unwavering interest in creating and mending digital wonders. From a young age, my
                        fascination with the intricacies of building and problem-solving was evident, driving me towards
                        the
                        world of web development. As I delved deeper, the realization of my profound love for this realm
                        dawned upon me, prompting a pivotal decision to transition into this sector and fervently pursue
                        what had evolved into a burning passion. This journey stands as a testament to my resolute
                        commitment to personal and professional growth, as I wholeheartedly embraced the challenges and
                        triumphs of this dynamic field.</p>
                </div>
                <div class="about__item">
                    <h2 class="about__title">Throughout My life...</h2>
                    <p class="about__paragraph">harnessing a wealth of experience in creative problem-solving and
                        refined
                        critical thinking, I consistently infuse each of my undertakings with these invaluable skills.
                        Through resolute self-guidance, I have adeptly navigated a spectrum of coding tools, including
                        HTML,
                        CSS, Sass, Mongoose, Node.js, and Express. This diverse proficiency has empowered me to engineer
                        websites that not only radiate visual allure but also seamlessly function to meet the intricate
                        needs of users. My journey in web development is defined by an unwavering commitment to
                        continuous
                        learning and the tireless pursuit of excellence.</p>
                </div>
                <div class="about__item">
                    <h2 class="about__title">Committed to delivering...</h2>
                    <p class="about__paragraph"> superior work to my clients, I find satisfaction in
                        my meticulous approach and eagerness to embrace novel techniques. My dedication to learning is
                        unceasing, as I am consistently on the lookout for opportunities to broaden my repertoire. By
                        staying abreast of the latest trends in web development, I ensure that my skill set remains
                        contemporary and relevant. These qualities combine to position me as an invaluable addition to
                        any
                        team, ready to contribute effectively and drive innovation.</p>
                </div>
                <div class="about__item">
                    <h2 class="about__title">My ability to communicate...</h2>
                    <p class="about__paragraph"> intricate concepts to colleagues and clients without technical
                        backgrounds
                        underscores my prowess as a collaborative force. My unwavering dedication to producing exemplary
                        outcomes has not only garnered trust but also positioned me as a dependable and amicable
                        professional. I take pride in my ability to translate complex technical ideas into easily
                        comprehensible insights, fostering a smooth and productive working dynamic.</p>
                </div>
                <div class="about__item">
                    <h2 class="about__title">In my free time...</h2>
                    <p class="about__paragraph">during my leisure hours, I take pleasure in spending quality time with
                        my
                        family, immersing myself in DIY projects, and enthusiastically embracing new learning curves.
                        The
                        excitement of live music and comedy performances holds a special place in my heart, infusing my
                        interests with vibrant energy. Additionally, the strategic intricacies of chess have always
                        captivated me. As I navigate the dynamic terrain of web development, my commitment resonates
                        beyond
                        technicalities I aspire to wield a positive influence within an industry ripe with
                        possibilities.
                    </p>
                </div>
            </div>
        </div>
    </div>