<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock</title>
    <link rel="stylesheet" href="/css/clock.css">
</head>

<body>

    <div class="time" style="display: none;"></div>
    <div class="clock">

        <div class="clock-main">
            <div class="clock-digit-section">
                <div class="clock-digit-one clock-digit"></div>
                <div class="clock-digit-two clock-digit"></div>
            </div>
            <div class="separator">
                <div class="separator-circle"></div>
                <div class="separator-circle"></div>
            </div>
            <div class="clock-digit-section">
                <div class="clock-digit-three clock-digit"></div>
                <div class="clock-digit-four clock-digit"></div>
            </div>
        </div>
        <div class="clock-sub">
            <p class="clock-seconds"></p>
        </div>


    </div>

    <script src="clock.js"></script>
</body>

</html>