<% layout('./layouts/boilerplate') -%>

    <div class="contact">

        <div class="contact__body">

            <div class="contact__body-text">
                <p>
                    If you're looking for a skilled full-stack web developer to bring your project to life, I would be
                    happy
                    to discuss your needs and how I can help. With expertise in both front-end and back-end development,
                    I
                    can work with you to create a customized solution that meets your business requirements and exceeds
                    your
                    expectations. Whether you need a new website from scratch or want to enhance an existing one, I'm
                    here
                    to help. Don't hesitate to reach out to me to start the conversation. I
                    look forward to hearing from you!
                    <br>
                    <span class="contact__body-links">
                        <a class="card__body-link " href="mailto:nhargreaves53@gmail.com"><ion-icon
                                name="mail"></ion-icon> Email</a>
                        <br>
                        <a class="card__body-link " href="https://github.com/Nbt53"> <ion-icon
                                name="logo-github"></ion-icon> Git </a>
                    </span>
                </p>
            </div>

        </div>
    </div>
    </div>