<% layout('./layouts/boilerplate') -%>

    <div class="design__one">

        <h1 class="design__one-title">
            <span class="design__one-title-one">code</span><span
                class="design__one-title-two">symphony</span></h1>
        <div class="design__one-header">

            <nav class="nav__one">
                <div class="nav__one-item">Home</div>
                <div class="nav__one-item">About</div>
                <div class="nav__one-item">Examples</div>
                <div class="nav__one-item">Tech</div>
                <div class="nav__one-item">News</div>
            </nav>
            <img src="img/design-1.png" alt="" class="design__one-image">
        </div>


        <section class="design__one-contact">
            <div class="design__one-contact-button"><ion-icon name="help-circle-outline"></ion-icon></div>

            <form action="#" class="design__one-contact-form">
                <h2 class="design__one-contact-title">Quick help</h2>
                <label for="name" class="design__one-contact-label">Name</label>
                <input type="text" class="design__one-contact-input" name="name" id="name">
                <label for="" class="design__one-contact-label">E-mail</label>
                <input type="email" name="email" id="email" class="design__one-contact-input">
                <label for="select" class=" design__one-contact-label">Issue</label>
                <select name="select" id="select" class="design__one-contact-input design__one-contact-select">
                    <option value="flange">Broken Flange Valve</option>
                    <option value="giga">Giga watt output causing time travel</option>
                    <option value="bytes">Too many bytes causing nausea</option>
                </select>
                <label for="description" class="design__one-contact-label">Describe your
                    problem</label>
                <textarea name="description" id="description" name="description" cols="30" rows="10"
                    class=" design__one-contact-text-area"></textarea>
            </form>
        </section>

        <section class="design__one-services">

            <div class="design__one-services-card">
                <img src="" alt="" class="design__one-services-img">
                <h2 class="design__one-services-title">Lite Bite</h2>
                <p class="design__one-services-description"> Once a month we can sweep the excess memory from your
                    chips.
                </p>
                <div class="design__one-services-price">£10 per month</div>
            </div>

            <div class="design__one-services-card">
                <img src="" alt="" class="design__one-services-img">
                <h2 class="design__one-services-title">RAMen</h2>
                <p class="design__one-services-description"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga
                    quos suscipit eligendi veritatis ratione? Eius, sequi adipisci provident amet inventore veniam,
                    tempore
                    necessitatibus explicabo corporis ad atque, a harum delectus.
                    Distinctio tempora molestiae commodi vero veniam? Ab, commodi accusamus. At laborum dignissimos
                    perferendis, temporibus magni error et rerum, dicta odit consequatur inventore ut eligendi, sed
                    velit!
                    Tempore dolorum sequi sapiente.</p>
                <div class="design__one-services-price">£10 per month</div>
            </div>

            <div class="design__one-services-card">
                <img src="" alt="" class="design__one-services-img">
                <h2 class="design__one-services-title">Code Caviar</h2>
                <p class="design__one-services-description"> I asked ChatGPT for a pun and it gave me this then
                    appologied
                    Eius, sequi adipisci provident amet inventore veniam, tempore
                    necessitatibus explicabo corporis ad atque, a harum delectus.
                    Distinctio tempora molestiae commodi vero veniam? Ab, commodi accusamus. At laborum dignissimos
                    perferendis, temporibus magni error et rerum, dicta odit consequatur inventore ut eligendi, sed
                    velit!
                    Tempore dolorum sequi sapiente.</p>
                <div class="design__one-services-price">£10 per month</div>
            </div>
        </section>
       
    </div>

    <script src="js/quickHelp.js"></script>