<% layout('./layouts/boilerplate') -%>

    <section class="project">
        <h1 class="project-title">My Projects</h1>
        <div class="project-project">
            <div class="project-list">
                <p class="project-item" data-project="loveBird"><span class="project-item-text">Lovebird
                        [website]</span> </p>
                <p class="project-item" data-project="crosses"><span class="project-item-text">noughts and crosses [HTML
                        game]</span></p>
                <p class="project-item" data-project="clock"><span class="project-item-text">Digital Clock [Web
                        Widget]</span></p>
                <p class="project-item" data-project="doodle"><span class="project-item-text">Doodle Pad [Web
                        Widget]</span></p>

            </div>

            <div class="project-container">

            </div>
        </div>
    </section>



    <script src="js/projects.js"></script>