<% layout('./layouts/boilerplate') -%>

        <section class="project">
                <div class="scroll scroll__projects">
                        <ion-icon class="scroll__icon" name="chevron-down-outline"></ion-icon>
                        <h3 class="scroll__text">Scroll down for project </h3>
                        <ion-icon class="scroll__icon" name="chevron-down-outline"></ion-icon>
                </div>
                <div class="project-header">
                        <h1 class="project-title">My Projects</h1>
                        <div class="project-list">
                                <p class="project-item" data-project="ObjectPetitA"><span
                                                class="project-item-text">Object Petit A
                                                [website]</span> </p>
                                <p class="project-item" data-project="loveBird"><span class="project-item-text">Lovebird
                                                [website]</span> </p>
                                <p class="project-item" data-project="soulNotes"><span class="project-item-text">Soul
                                                Notes
                                                [website]</span> </p>
                                <p class="project-item" data-project="crosses"><span class="project-item-text">noughts
                                                and crosses [HTML
                                                game]</span></p>
                                <p class="project-item" data-project="clock"><span class="project-item-text">Digital
                                                Clock [Web
                                                Widget]</span></p>
                                <p class="project-item" data-project="doodle"><span class="project-item-text">Doodle Pad
                                                [Web
                                                Widget]</span></p>

                        </div>
                </div>


                <!-- <div class="project-container">

                </div> -->

        </section>
        <div class="project-container">

        </div>


        <script src="js/projects.js"></script>